<!DOCTYPE html>
<html>
    <head>
        <body>
            <h1>This is the index.ejs page!</h1>
            <ul><%path.forEach(function(p) {%><li><%= p %></li><%}); %></ul></body>
    </head>
</html>