.App {
  text-align: center;
}
.title {
  background-color: steelblue;
  display: flex;
  font-size: 70px;
  color: white;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  height: 200px;
}
.user {
  position: fixed;
  right: 5%;
  font-size: 20px;
}
/* .loginTitle {
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .loginButton {
  display: flex;
  align-items: center;
  justify-content: center;
} */
.loginPart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginTitle {
  color: white;
  font-size: 50px;
  background-image: linear-gradient(to bottom right, blue, green);
  text-align: center;
  margin-bottom: 20px;
}
